<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Add Bill</title>
</head>

<style>
    .abc{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90vh;
        background-color: #f5f5f5;
    }

    .pql{
        text-align: center;
        font-size: 15px;
    }
</style>

<body>
   <%- include('./partials/navbar') %>

   <div class="abc">
        <div class="card p-4 shadow" style="width: 400px;">
            <h3 class="text-center mb-3">Add a Bill</h3>

            <form method="post" action="/bill/add">
                <div class="mb-3">
                    <label class="form-label">Purpose</label>
                    <input type="text" name="purpose" required class="form-control">
                </div>

                <div class="mb-3">
                    <label class="form-label">Amount</label>
                    <input type="number" name="amount" required class="form-control">
                </div>

                <div class="mb-3">
                    <label class="form-label">Date</label>
                    <input type="date" name="date" required class="form-control">
                </div>
                
                <button type="submit" class="btn btn-primary w-100">Submit</button>

            </form>

        </div>
   </div>

   <%- include('./partials/script') %>
</body>
</html>